<!-- = simple_form_for @post do |f|
    = f.input :image 
    = f.input :title 
    = f.input :link
    = f.input :description
    = f.button :submit --> 

<%= simple_form_for @post do |f| %> 
	<div class="form-group">
		<%= f.label :image %>
		<%= f.file_field :image, class: "form-control form-control-file" %> 
	</div>
	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :link %>
		<%= f.input_field :link, class: "form-control" %> 
	</div>
	<div class="form-group">
		<%= f.label :description %>
		<%= f.input_field :description, class: "form-control" %> 
	</div>
	<div class="form-group">
		<%= f.button :submit, class: "btn btn-lg btn-primary"  %> 
	</div>
<% end %> 

